## Practice Data Wrangling

![](https://iili.io/3S2kRyu.png)

## Pandas


Pandas is a Python library extensively used for data analysis and manipulation. It provides data structures like DataFrames, which are similar to tables, and Series, which are like lists or columns in a table. These structures allow for efficient handling and processing of structured data. Pandas is built on top of NumPy and integrates well with other scientific computing libraries. It simplifies tasks such as data cleaning, transformation, and analysis, making it a fundamental tool for data scientists and analysts.

### Installing and Importing Pandas

Installing Pandas
```
pip install pandas
```

In [385]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\acer\desktop\fuse_ml\env\lib\site-packages (2.2.3)
Requirement already satisfied: pytz>=2020.1 in c:\users\acer\desktop\fuse_ml\env\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\acer\desktop\fuse_ml\env\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\acer\desktop\fuse_ml\env\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: numpy>=1.22.4 in c:\users\acer\desktop\fuse_ml\env\lib\site-packages (from pandas) (2.0.2)
Requirement already satisfied: six>=1.5 in c:\users\acer\desktop\fuse_ml\env\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

WARNING: You are using pip version 22.0.4; however, version 25.1.1 is available.
You should consider upgrading via the 'C:\Users\acer\Desktop\fuse_ml\env\Scripts\python.exe -m pip install --upgrade pip' command.

importing pandas

In [386]:
## pd is widely used alias for pandas
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', 50)

### Creating Series and Pandas Data Frame

#### 1. Creating Series
 A Pandas Series is a one-dimensional labeled array capable of holding data of any type. It is similar to a column in a spreadsheet or a SQL table. The labels for the Series are collectively known as the index. A Series can be created from a variety of data types, including lists, dictionaries, and NumPy arrays.

In [387]:
### Ex-1-Task-1

s = None 
a = [1, 2, 3, 4, 5, 6]
# Task: create a series using list 
### BEGIN SOLUTION 
# YOUR CODE HERE
s = pd.Series(a)
### END SOLUTION

In [388]:
### Ex-1-Task-2
a = {
    'a': 80,
    'b': 90,
    'c': 100
}
s = None 
## Task: Create a series using dictionary

### BEGIN SOLUTION 
# YOUR CODE HERE
s = pd.Series(a)

### END SOLUTION

In [389]:
### Ex-1-Task-3
a = [1, 2, 3, 4, 5, 6]
a = np.array(a)
s = None
## Creating a series using numpy array
### BEGIN SOLUTION 
# YOUR CODE HERE
s = pd.Series(a)

### END SOLUTION

In [390]:
### Ex-1-Task-4
population = {
    'Nepal': 30000000,
    'India': 1463865525,
    'Pakistan':255219554,
    'China': 1416096094
}
s = None
## Create a series with name 'population' and dtype='int64' 
### BEGIN SOLUTION 
# YOUR CODE HERE
s = pd.Series(population,name = 'population', dtype='int64')
### END SOLUTION

#### 2. Creating DataFrame

In [391]:
### Ex-2-Task-1
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
df = None 
# Creating Data Frame from Python List
### BEGIN SOLUTION 
# YOUR CODE HERE
df = pd.DataFrame(a,columns=['Numbers'])
### END SOLUTION

In [392]:
### Ex-2-Task-2
my_list = [['A', 1], ['B', 2], ['C', 3], ['D', 4]]
# Creating Data Frame from List of List
### BEGIN SOLUTION 
# YOUR CODE HERE
df = pd.DataFrame(my_list,columns=['Letter','Number'])
### END SOLUTION

In [393]:
### Ex-2-Task-3
my_data = {
    'country': ['Nepal', 'India', 'China'],
    'Population': [30000000, 1463865525, 1416096094]
}
df = None
# Creating Data Frame using Python Dictionary
### BEGIN SOLUTION 
# YOUR CODE HERE
df = pd.DataFrame(my_data)
### END SOLUTION

## Data Loading and Inspection

### Reading Data
A simple way to store big data is to use CSV files (comma Seperated files) or Parquet Files. 
- df_sales --> computed_insight_success_of_active_sellers.csv'
- df_product --> summer-products-with-rating-and-performance_2020-08.csv

In [394]:
### Ex-3-Task-1
df_sales = None
df_product = None

# reading CSV file
### BEGIN SOLUTION 
# YOUR CODE HERE
df_sales = pd.read_csv("computed_insight_success_of_active_sellers.csv")
df_product = pd.read_csv("summer-products-with-rating-and-performance_2020-08.csv")

### END SOLUTION

### Basic Inspection

In [395]:
### Ex-3-Task-2
head_df = None 
tail_df = None 
desribe_num_df = None
desribe_cate_df = None
# check the first 10 records of the sales dataframe 
# check the last 10 records of the product dataframe
## Check the description of the numerical and categorical columns of prodcut dataframe
### BEGIN SOLUTION 
# YOUR CODE HERE
head_df = df_sales.head(10)
tail_df = df_product.tail(10)
desribe_num_df = df_product.describe()
describe_cate_df = df_product.describe(include='object')
### END SOLUTION

In [396]:
### Ex-3-Task-3

# set merchant id as the index of the sales dataframe and check index
### BEGIN SOLUTION 
# YOUR CODE HERE
df_sales = df_sales.set_index('merchantid')
print(df_sales.index)
df_sales
### END SOLUTION

Index(['5357bcf2bb72c5504882e889', '5708773c3c02161b3f8c7900',
       '5417aada4ad3ab27e954b76c', '570f3a713a698c14278bb51e',
       '53082ea15aefb07dfe1f2a4f', '53f2beb39020ee03566d6e18',
       '5926c5ace8ff5525241b368d', '5860c757b1e41d4d67d183e8',
       '52bd3ddb34067e4620a4c62d', '5a7b23a69bda4e3d375e7b3f',
       ...
       '574d559cb06e205d099d9107', '5db248327c0d0800c24fc084',
       '54365c349719cd57af2b449b', '581c54c4dd99164b808ca531',
       '564d8f2f3a698c01d97fbb81', '567bad8582c35f28103e5813',
       '5b24edf0d1c360301099e9c6', '5d417e7070327a2743021677',
       '5add589edb5f1f32114d07df', '5d4b8931933fb13f8a1fe232'],
      dtype='object', name='merchantid', length=958)

,listedproducts,totalunitssold,meanunitssoldperproduct,rating,merchantratingscount,meanproductprices,meanretailprices,averagediscount,meandiscount,meanproductratingscount,totalurgencycount,urgencytextrate
merchantid,,,,,,,,,,,,
5357bcf2bb72c5504882e889,2,120000,60000.0,4.219,320031.0,9.00,20.0,54.0,54.0,8836.0,1.0,50.0
5708773c3c02161b3f8c7900,5,107100,21420.0,3.934,139223.0,7.76,34.2,61.0,61.0,4010.0,3.0,60.0
5417aada4ad3ab27e954b76c,2,100007,50004.0,4.053,108048.0,8.00,8.0,-1.0,-1.0,5531.0,NaN,NaN
570f3a713a698c14278bb51e,1,100000,100000.0,3.889,19248.0,5.67,19.0,71.0,71.0,18393.0,1.0,100.0
53082ea15aefb07dfe1f2a4f,1,100000,100000.0,4.036,366898.0,5.00,33.0,85.0,85.0,13789.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
567bad8582c35f28103e5813,1,2,2.0,3.999,21307.0,11.00,10.0,-10.0,-10.0,1.0,NaN,NaN
5b24edf0d1c360301099e9c6,1,2,2.0,4.303,693.0,16.00,16.0,0.0,0.0,0.0,NaN,NaN
5d417e7070327a2743021677,1,1,1.0,3.598,378.0,2.72,9.0,70.0,70.0,0.0,NaN,NaN
5add589edb5f1f32114d07df,1,1,1.0,3.956,1134.0,14.00,14.0,0.0,0.0,0.0,NaN,NaN
5d4b8931933fb13f8a1fe232,1,1,1.0,4.007,1380.0,11.00,30.0,64.0,64.0,0.0,NaN,NaN

In [397]:
### Ex-3-Task-4
sorted_df = None
## Sort the sales dataframe by rating in Ascending Order, if two records have same rating then sort in descending order by total unit sold
### BEGIN SOLUTION 
# YOUR CODE HERE
sorted_df = df_sales.sort_values(by=['rating','totalunitssold'],ascending=[True,False])
### END SOLUTION

In [398]:
### Ex-3-Task-5
portion_df = None
### Get the sorted dataframe for which rating is 4.041 and store in portion_df
### BEGIN SOLUTION 
# YOUR CODE HERE
portion_df = sorted_df[sorted_df['rating'] == 4.041]
### END SOLUTION

### Data Types and Conversion

In [399]:
### Ex-4-Task-1

# the price of the product is upto 2 digit place. I want to convert it into int
### BEGIN SOLUTION 
# YOUR CODE HERE
df_product['price'] = df_product['price'].astype('int')
### END SOLUTION

In [400]:
### Ex-4-Task-2
# The datatype of the craw_month is Object type. I want to convert it to data time format and store it in same columns
### BEGIN SOLUTION 
# YOUR CODE HERE
df_product['crawl_month'] = pd.to_datetime(df_product['crawl_month'])
### END SOLUTION

## Data Selection and Filtering

### Selecting Columns and Rows

In [401]:
### Ex-5-Task-1
ser = None 

# Select a 'title' column from product dataframe and store in separate variables as series (ser)
### BEGIN SOLUTION 
# YOUR CODE HERE
ser = df_product['title']
### END SOLUTION

In [402]:
### Ex-5-Task-2
product_price = None 
# Select multiple columns ('title', 'price', and 'retail price' ) from product dataframe and store in variable product_price.
### BEGIN SOLUTION 
# YOUR CODE HERE
product_price = df_product[['title','price','retail_price']]
### END SOLUTION

### Selection by labels and Selection by position

In [403]:
### Ex-5-Task-3
single_data = None
## Select a data of title column and at index 1572 of product dataframe
### BEGIN SOLUTION 
# YOUR CODE HERE
# single_data = df_product.iloc[1572,'title']
# single_data
single_data = df_product.loc[1572,'title']
### END SOLUTION

In [404]:
### Ex-5-Task-4
single_data = None
## Select a data of 6th column and at  5tj row of product dataframe
### BEGIN SOLUTION 
# YOUR CODE HERE
single_data = df_product.iloc[4,5]
### END SOLUTION

In [405]:
### Ex-5-Task-5
sliced_data = None 
## Select a portion of data frame with column name currency_buyer, units_sold, merchant_rating_count, merchant_rating and with index 100 to 200
### BEGIN SOLUTION 
# YOUR CODE HERE
sliced_data = df_product.loc[100:200,['currency_buyer','units_sold','merchant_rating_count','merchant_rating']]
### END SOLUTION

In [406]:
### Ex-5-Task-6
sliced_data = None 
## Select a portion of data frame with 3rd to 8th columns and with rows 100 to 200 
# it must only include 100 rows and 7 columns 
### BEGIN SOLUTION 
# YOUR CODE HERE
sliced_data = df_product.iloc[100:200,2:9]
### END SOLUTION

### Boolean Indexing and Conditional Filtering

In [407]:
### Ex-5-Task-7
mean = None
Q3 = None 
records = None 
# Find mean and 3rd quantile of the price from product dataframe and get all the records that lies between mean and Q3
### BEGIN SOLUTION 
# YOUR CODE HERE
mean = df_product['price'].mean()
Q3 = df_product['price'].quantile(0.75)

records = df_product[(df_product['price'] >= mean) & (df_product['price'] <= Q3)]
### END SOLUTION

In [408]:
### Ex-5-Task-8
summer_product = None 
## Find all the row in product dataframe containing 'summer' keyword in its title. Make sure the string is lower to get all the records. 
### BEGIN SOLUTION 
# YOUR CODE HERE
summer_product = df_product[df_product['title'].str.lower().str.contains('summer')]
### END SOLUTION

## Handling Missing Data

In [409]:
### Ex-6-Task-1
count_na = None
# Count the number of null data in each columns
### BEGIN SOLUTION 
# YOUR CODE HERE
count_na = df_product.isnull().sum()
count_na
### END SOLUTION

title                              0
title_orig                         0
price                              0
retail_price                       0
currency_buyer                     0
units_sold                         0
uses_ad_boosts                     0
rating                             0
rating_count                       0
rating_five_count                 45
rating_four_count                 45
rating_three_count                45
rating_two_count                  45
rating_one_count                  45
badges_count                       0
badge_local_product                0
badge_product_quality              0
badge_fast_shipping                0
tags                               0
product_color                     41
product_variation_size_id         14
product_variation_inventory        0
shipping_option_name               0
shipping_option_price              0
shipping_is_express                0
countries_shipped_to               0
inventory_total                    0
has_urgency_banner              1100
urgency_text                    1100
origin_country                    17
merchant_title                     0
merchant_name                      4
merchant_info_subtitle             1
merchant_rating_count              0
merchant_rating                    0
merchant_id                        0
merchant_has_profile_picture       0
merchant_profile_picture        1347
product_url                        0
product_picture                    0
product_id                         0
theme                              0
crawl_month                        0
dtype: int64

In [410]:
### Ex-6-Task-2

# Impute the  product color with maximum occur value as it is the categorical columns 
# Impute the rating five count by mean and rating four count by median of respective columns
### BEGIN SOLUTION 
# YOUR CODE HERE
mode_color = df_product['product_color'].mode()[0]
df_product['product_color'] = df_product['product_color'].fillna(mode_color)
mean_rating_five = df_product['rating_five_count'].mean()
df_product['rating_five_count'] = df_product['rating_five_count'].fillna(mean_rating_five)

median_rating_four = df_product['rating_four_count'].median()
df_product['rating_four_count'] = df_product['rating_four_count'].fillna(median_rating_four)
### END SOLUTION

## Data Cleaning

### Removing Duplicates

In [411]:
### Ex-7-Task-1
duplicate_count = None
df_drop_duplicate = None # store the data frame after removing duplicates 
# Count no. of duplicates value in product dataframe and drop all the duplicate values 
### BEGIN SOLUTION 
# YOUR CODE HERE
duplicate_count = df_product.duplicated().sum()
df_drop_duplicate = df_product.drop_duplicates()
### END SOLUTION

## Data Transformation

### Applying Functions: Apply, map

In [412]:
### Ex-7-Task-2

df_sales['total_profit'] = None
# Calculate the total profit using apply function in pandas and save in total_profit column
# Formulae: total_profit = (mean product price - mean retail price) * total units sold
### BEGIN SOLUTION 
# YOUR CODE HERE
df_sales['total_profit'] = df_sales.apply(
    lambda row: (row['meanproductprices'] - row['meanretailprices']) * row['totalunitssold'],axis = 1 
)
### END SOLUTION

### Binning and Categorizing Data

In [413]:
### Ex-7-Task-3
df_product['sales_category'] = None
# Divide the row into three category based on their units sold and save it into the sales_category column of produdct dataframe
# category are : low_sales, medium sales, and high sales 
### BEGIN SOLUTION 
# YOUR CODE HERE
q1 = df_product['units_sold'].quantile(1/3)
q2 = df_product['units_sold'].quantile(2/3)

def categorize_units_sold(units):
    if units <= q1:
        return 'low_sales'
    elif units <= q2:
        return 'medium_sales'
    else:
        return 'high_sales'

df_product['sales_category'] = df_product['units_sold'].apply(categorize_units_sold)
df_product['sales_category'].value_counts()
### END SOLUTION

sales_category
low_sales       648
high_sales      520
medium_sales    405
Name: count, dtype: int64

## Data Aggregation and Grouping

### Groupby aggregation function

In [414]:
### Ex-8-Task-1

group_df = None 
# Create a group of low, medium and high sales and then calulcate, mean of price, median of retail price, min of units_sold and max of rating_five_count of each category
### BEGIN SOLUTION 
# YOUR CODE HERE
group_df = df_product.groupby('sales_category').agg({
    'price': 'mean',
    'retail_price': 'median',
    'units_sold': 'min',
    'rating_five_count': 'max'
})

### END SOLUTION

In [415]:
### Ex-8-Task-2
group_df = None
## Calculate the Coefficient of Variation of each sales category
### BEGIN SOLUTION 
# YOUR CODE HERE
group_df = df_product.groupby('sales_category')['units_sold'].agg(['mean', 'std'])
group_df['cv_units_sold'] = group_df['std'] / group_df['mean']
### END SOLUTION

In [416]:
### Ex-8-Task-3
df_product['price_zscore'] = None
## Calculate the Z_score of price for each sales category
### BEGIN SOLUTION 
# YOUR CODE HERE
df_product['price_zscore'] = df_product.groupby('sales_category')['price'].transform(
    lambda x: (x - x.mean()) / x.std()
)

### END SOLUTION

## Merging

In [417]:
### Ex-9-Task-1
merged_df = None
# Merge the sales and product dataframe and delete all the non common entries. Merge two dataframe based on merchant id.
### BEGIN SOLUTION 
# YOUR CODE HERE
merged_df = pd.merge(
    df_sales.reset_index(),    
    df_product,
    left_on='merchantid',
    right_on='merchant_id',
    how='inner'               
)

### END SOLUTION

# Data Wrangling End to End

## Data Cleaning

#### Features and Columns 
The data was scraped in the french localisation (hence some non-ascii latin characters such as Â« Ã© Â» and Â« Ã  Â») in the title column.

The title_orig on the other hand contains the original title (the base title) that is displayed by default. When a translation is provided by the seller, it appears in the title column. When the title and title_orig columns are the same, it generally means that the seller did not specify a translation that would be displayed to users with french settings.

A picture is worth a thousand words. In the following screenshot you see some features and how to interpret them.

![](wish_viz.jpg)

In [418]:
### Ex-10-Task-1
df = None 
# Read the product data frame with rating and performance 
### BEGIN SOLUTION 
# YOUR CODE HERE
df = pd.read_csv("summer-products-with-rating-and-performance_2020-08.csv")
df
### END SOLUTION

,title,title_orig,price,retail_price,currency_buyer,units_sold,uses_ad_boosts,rating,rating_count,rating_five_count,rating_four_count,rating_three_count,rating_two_count,rating_one_count,badges_count,badge_local_product,badge_product_quality,badge_fast_shipping,tags,product_color,product_variation_size_id,product_variation_inventory,shipping_option_name,shipping_option_price,shipping_is_express,countries_shipped_to,inventory_total,has_urgency_banner,urgency_text,origin_country,merchant_title,merchant_name,merchant_info_subtitle,merchant_rating_count,merchant_rating,merchant_id,merchant_has_profile_picture,merchant_profile_picture,product_url,product_picture,product_id,theme,crawl_month
0,2020 Summer Vintage Flamingo Print Pajamas Se...,2020 Summer Vintage Flamingo Print Pajamas Se...,16.00,14,EUR,100,0,3.76,54,26.0,8.0,10.0,1.0,9.0,0,0,0,0,"Summer,Fashion,womenunderwearsuit,printedpajam...",white,M,50,Livraison standard,4,0,34,50,1.0,QuantitÃ© limitÃ©e !,CN,zgrdejia,zgrdejia,(568 notes),568,4.128521,595097d6a26f6e070cb878d1,0,NaN,https://www.wish.com/c/5e9ae51d43d6a96e303acdb0,https://contestimg.wish.com/api/webimage/5e9ae...,5e9ae51d43d6a96e303acdb0,summer,2020-08
1,SSHOUSE Summer Casual Sleeveless SoirÃ©e Party ...,Women's Casual Summer Sleeveless Sexy Mini Dress,8.00,22,EUR,20000,1,3.45,6135,2269.0,1027.0,1118.0,644.0,1077.0,0,0,0,0,"Mini,womens dresses,Summer,Patchwork,fashion d...",green,XS,50,Livraison standard,2,0,41,50,1.0,QuantitÃ© limitÃ©e !,CN,SaraHouse,sarahouse,"83 % avis positifs (17,752 notes)",17752,3.899673,56458aa03a698c35c9050988,0,NaN,https://www.wish.com/c/58940d436a0d3d5da4e95a38,https://contestimg.wish.com/api/webimage/58940...,58940d436a0d3d5da4e95a38,summer,2020-08
2,2020 Nouvelle ArrivÃ©e Femmes Printemps et Ã‰tÃ© ...,2020 New Arrival Women Spring and Summer Beach...,8.00,43,EUR,100,0,3.57,14,5.0,4.0,2.0,0.0,3.0,0,0,0,0,"Summer,cardigan,women beachwear,chiffon,Sexy w...",leopardprint,XS,1,Livraison standard,3,0,36,50,1.0,QuantitÃ© limitÃ©e !,CN,hxt520,hxt520,86 % avis positifs (295 notes),295,3.989831,5d464a1ffdf7bc44ee933c65,0,NaN,https://www.wish.com/c/5ea10e2c617580260d55310a,https://contestimg.wish.com/api/webimage/5ea10...,5ea10e2c617580260d55310a,summer,2020-08
3,Hot Summer Cool T-shirt pour les femmes Mode T...,Hot Summer Cool T Shirt for Women Fashion Tops...,8.00,8,EUR,5000,1,4.03,579,295.0,119.0,87.0,42.0,36.0,0,0,0,0,"Summer,Shorts,Cotton,Cotton T Shirt,Sleeve,pri...",black,M,50,Livraison standard,2,0,41,50,NaN,NaN,CN,allenfan,allenfan,"(23,832 notes)",23832,4.020435,58cfdefdacb37b556efdff7c,0,NaN,https://www.wish.com/c/5cedf17ad1d44c52c59e4aca,https://contestimg.wish.com/api/webimage/5cedf...,5cedf17ad1d44c52c59e4aca,summer,2020-08
4,Femmes Shorts d'Ã©tÃ© Ã lacets taille Ã©lastique ...,Women Summer Shorts Lace Up Elastic Waistband ...,2.72,3,EUR,100,1,3.10,20,6.0,4.0,2.0,2.0,6.0,0,0,0,0,"Summer,Plus Size,Lace,Casual pants,Bottom,pant...",yellow,S,1,Livraison standard,1,0,35,50,1.0,QuantitÃ© limitÃ©e !,CN,youngpeopleshop,happyhorses,"85 % avis positifs (14,482 notes)",14482,4.001588,5ab3b592c3911a095ad5dadb,0,NaN,https://www.wish.com/c/5ebf5819ebac372b070b0e70,https://contestimg.wish.com/api/webimage/5ebf5...,5ebf5819ebac372b070b0e70,summer,2020-08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1568,Nouvelle Mode Femmes BohÃªme Pissenlit Imprimer...,New Fashion Women Bohemia Dandelion Print Tee ...,6.00,9,EUR,10000,1,4.08,1367,722.0,293.0,185.0,77.0,90.0,0,0,0,0,"bohemia,Plus Size,dandelionfloralprinted,short...",navyblue,S,50,Livraison standard,2,0,41,50,NaN,NaN,CN,cxuelin99126,cxuelin99126,"90 % avis positifs (5,316 notes)",5316,4.224605,5b507899ab577736508a0782,0,NaN,https://www.wish.com/c/5d5fadc99febd9356cbc52ee,https://contestimg.wish.com/api/webimage/5d5fa...,5d5fadc99febd9356cbc52ee,summer,2020-08
1569,10 couleurs femmes shorts d'Ã©tÃ© lacent ceintur...,10 Color Women Summer Shorts Lace Up Elastic W...,2.00,56,EUR,100,1,3.07,28,11.0,3.0,1.0,3.0,10.0,0,0,0,0,"Summer,Panties,Elastic,Lace,Casual pants,casua...",lightblue,S,2,Livraison standard,1,0,26,50,1.0,QuantitÃ© limitÃ©e !,CN,sell best quality goods,sellbestqualitygoods,"(4,435 notes)",4435,3.696054,54d83b6b6b8a771e478558de,0,NaN,https://www.wish.com/c/5eccd22b4497b86fd48f16b4,https://contestimg.wish.com/api/webimage/5eccd...,5eccd22b4497b86fd48f16b4,summer,2020-08
1570,NouveautÃ©s Hommes Siwmwear Beach-Shorts Hommes...,New Men Siwmwear Beach-Shorts Men Summer Quick...,5.00,19,EUR,100,0,3.71,59,24.0,15.0,8.0,3.0,9.0,0,0,0,0,"runningshort,Beach Shorts,beachpant,menbeachsh...",white,SIZE S,15,Livraison standard,2,0,11,50,NaN,NaN,CN,shixueying,shixueying,86 % avis positifs (210 notes),210,3.961905,5b42da1bf64320209fc8da69,0,NaN,https://www.wish.com/c/5e74be96034d613d42b52dfe,https://contestimg.wish.com/api/webimage/5e74b...,5e74be96034d613d42b52dfe,summer,2020-08
1571,Mode femmes d'Ã©tÃ© sans manches robes col en V ...,Fashion Women Summer Sleeveless Dresses V Neck...,13.00,11,EUR,100,0,2.50,2,0.0,1.0,0.0,0.0,1.0,0,0,0,0,"Summer,fashion women,Fashion,Lace,Dresses,Dres...",white,Size S.,36,Livraison standard,3,0,29,50,NaN,NaN,CN,modai,modai,77 % avis positifs (31 notes),31,3.774194,5d56b32c40defd78043d5af9,0,NaN,https://www.wish.com/c/5eda07ab0e295c2097c36590,https://contestimg.wish.com/api/webimage/5eda0...,5eda07ab0e295c2097c36590,summer,2020-08
1572,Pantalon de yoga pour femmes Ã la mode Slim Fi...,Fashion Women Yoga Pants Slim Fit Fitness Runn...,7.00,6,EUR,100,1,4.07,14,8.0,3.0,1.0,0.0,2.0,0,0,0,0,"Summer,Leggings,slim,Yoga,pants,Slim Fit,Women...",red,S,50,Livraison standard,2,0,41,50,NaN,NaN,CN,AISHOPPINGMALL,aishoppingmall,"90 % avis positifs (7,023 notes)",7023,4.235939,5a409cf87b584e7951b2e25f,0,NaN,https://www.wish.com/c/5e857321f53c3d2d8f25e7ed,https://contestimg.wish.com/api/webimage/5e857...,5e857321f53c3d2d8f25e7ed,summer,2020-08

There are total 43 columns. Let's try to reduce the number. 

#### Some considerations:
- Excluded product color and size because it's just showing the ones that were found in getting the data : there are more colors and sizes for each product so having just one for each category doesn't say much.
- Excluded currency used, as every price is in EUR
- Excluded shipping option, the "shipping_is_express" column is enough.
- Excluded product's and merchant's id's and pictures, that won't be needed.
- Use only original title

After removal of column, it must only have these columns. 

'title_orig', 'price', 'retail_price',
'units_sold', 'uses_ad_boosts', 'rating', 'rating_count',
'rating_five_count', 'rating_four_count', 'rating_three_count',
'rating_two_count', 'rating_one_count', 'badges_count',
'badge_local_product', 'badge_product_quality', 'badge_fast_shipping',
'tags', 'shipping_option_price', 'shipping_is_express', 'countries_shipped_to',
'inventory_total', 'has_urgency_banner',
'merchant_rating_count', 'merchant_rating',
'merchant_has_profile_picture'

In [419]:
### Ex-10-Task-2
df = df[['title_orig', 'price', 'retail_price',
        'units_sold', 'uses_ad_boosts', 'rating', 'rating_count',
       'rating_five_count', 'rating_four_count', 'rating_three_count',
       'rating_two_count', 'rating_one_count', 'badges_count',
       'badge_local_product', 'badge_product_quality', 'badge_fast_shipping',
       'tags', 'shipping_option_price','shipping_is_express', 'countries_shipped_to',
        'has_urgency_banner','merchant_rating_count', 'merchant_rating','merchant_has_profile_picture',
        ]]

# print(df.info())
# print(df.isna().sum())
# print(df['has_urgency_banner'].value_counts())
# Check the data frame information, total no. of null entries in each columns and has_urgency_banner columns counts
# After loading the data we se we have 1573 entries and some null values, let's see what some of them are about:
# - Exactly 45 for rating counts from 1 to 5 star, could it be that there are products with no ratings at all?
# - 1100 null values in the has urgency banner : the values there are 1's so the null values should be turned into 0's
# Now, Rename the columns 'has_urgency_banner' to 'is_running_out' and 'title_orig' to 'title' to make it more clear.
# **Fix the runing out column. fill all the null values with 0's.
### BEGIN SOLUTION 
# YOUR CODE HERE
print(df.info())
print(df.isna().sum())
print(df['has_urgency_banner'].value_counts())

df['has_urgency_banner'] = df['has_urgency_banner'].fillna(0)
df = df.rename(columns={'has_urgency_banner': 'is_running_out', 'title_orig': 'title'})

df
### END SOLUTION

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1573 entries, 0 to 1572
Data columns (total 24 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   title_orig                    1573 non-null   object
 1   price                         1573 non-null   float64
 2   retail_price                  1573 non-null   int64
 3   units_sold                    1573 non-null   int64
 4   uses_ad_boosts                1573 non-null   int64
 5   rating                        1573 non-null   float64
 6   rating_count                  1573 non-null   int64
 7   rating_five_count             1528 non-null   float64
 8   rating_four_count             1528 non-null   float64
 9   rating_three_count            1528 non-null   float64
 10  rating_two_count              1528 non-null   float64
 11  rating_one_count              1528 non-null   float64
 12  badges_count                  1573 non-null   int64
 13  badge_local_product           1573 non-null   int64
 14  badge_product_quality         1573 non-null   int64
 15  badge_fast_shipping           1573 non-null   int64
 16  tags                          1573 non-null   object
 17  shipping_option_price         1573 non-null   int64
 18  shipping_is_express           1573 non-null   int64
 19  countries_shipped_to          1573 non-null   int64
 20  has_urgency_banner            473 non-null    float64
 21  merchant_rating_count         1573 non-null   int64
 22  merchant_rating               1573 non-null   float64
 23  merchant_has_profile_picture  1573 non-null   int64
dtypes: float64(9), int64(13), object(2)
memory usage: 295.1+ KB
None
title_orig                         0
price                              0
retail_price                       0
units_sold                         0
uses_ad_boosts                     0
rating                             0
rating_count                       0
rating_five_count                 45
rating_four_count                 45
rating_three_count                45
rating_two_count                  45
rating_one_count                  45
badges_count                       0
badge_local_product                0
badge_product_quality              0
badge_fast_shipping                0
tags                               0
shipping_option_price              0
shipping_is_express                0
countries_shipped_to               0
has_urgency_banner              1100
merchant_rating_count              0
merchant_rating                    0
merchant_has_profile_picture       0
dtype: int64
has_urgency_banner
1.0    473
Name: count, dtype: int64

C:\Users\acer\AppData\Local\Temp\ipykernel_6928\990327676.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['has_urgency_banner'] = df['has_urgency_banner'].fillna(0)

,title,price,retail_price,units_sold,uses_ad_boosts,rating,rating_count,rating_five_count,rating_four_count,rating_three_count,rating_two_count,rating_one_count,badges_count,badge_local_product,badge_product_quality,badge_fast_shipping,tags,shipping_option_price,shipping_is_express,countries_shipped_to,is_running_out,merchant_rating_count,merchant_rating,merchant_has_profile_picture
0,2020 Summer Vintage Flamingo Print Pajamas Se...,16.00,14,100,0,3.76,54,26.0,8.0,10.0,1.0,9.0,0,0,0,0,"Summer,Fashion,womenunderwearsuit,printedpajam...",4,0,34,1.0,568,4.128521,0
1,Women's Casual Summer Sleeveless Sexy Mini Dress,8.00,22,20000,1,3.45,6135,2269.0,1027.0,1118.0,644.0,1077.0,0,0,0,0,"Mini,womens dresses,Summer,Patchwork,fashion d...",2,0,41,1.0,17752,3.899673,0
2,2020 New Arrival Women Spring and Summer Beach...,8.00,43,100,0,3.57,14,5.0,4.0,2.0,0.0,3.0,0,0,0,0,"Summer,cardigan,women beachwear,chiffon,Sexy w...",3,0,36,1.0,295,3.989831,0
3,Hot Summer Cool T Shirt for Women Fashion Tops...,8.00,8,5000,1,4.03,579,295.0,119.0,87.0,42.0,36.0,0,0,0,0,"Summer,Shorts,Cotton,Cotton T Shirt,Sleeve,pri...",2,0,41,0.0,23832,4.020435,0
4,Women Summer Shorts Lace Up Elastic Waistband ...,2.72,3,100,1,3.10,20,6.0,4.0,2.0,2.0,6.0,0,0,0,0,"Summer,Plus Size,Lace,Casual pants,Bottom,pant...",1,0,35,1.0,14482,4.001588,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1568,New Fashion Women Bohemia Dandelion Print Tee ...,6.00,9,10000,1,4.08,1367,722.0,293.0,185.0,77.0,90.0,0,0,0,0,"bohemia,Plus Size,dandelionfloralprinted,short...",2,0,41,0.0,5316,4.224605,0
1569,10 Color Women Summer Shorts Lace Up Elastic W...,2.00,56,100,1,3.07,28,11.0,3.0,1.0,3.0,10.0,0,0,0,0,"Summer,Panties,Elastic,Lace,Casual pants,casua...",1,0,26,1.0,4435,3.696054,0
1570,New Men Siwmwear Beach-Shorts Men Summer Quick...,5.00,19,100,0,3.71,59,24.0,15.0,8.0,3.0,9.0,0,0,0,0,"runningshort,Beach Shorts,beachpant,menbeachsh...",2,0,11,0.0,210,3.961905,0
1571,Fashion Women Summer Sleeveless Dresses V Neck...,13.00,11,100,0,2.50,2,0.0,1.0,0.0,0.0,1.0,0,0,0,0,"Summer,fashion women,Fashion,Lace,Dresses,Dres...",3,0,29,0.0,31,3.774194,0
1572,Fashion Women Yoga Pants Slim Fit Fitness Runn...,7.00,6,100,1,4.07,14,8.0,3.0,1.0,0.0,2.0,0,0,0,0,"Summer,Leggings,slim,Yoga,pants,Slim Fit,Women...",2,0,41,0.0,7023,4.235939,0

#### Check if all the 45 null values for all rating columns belong to same product.
- Get the dataframe for which rating_five_count have null values
- Then, Count the no. of null values for four, three, two and one rating column.

Conclusion: As expected we see the null values in the rating are actually of the same 45 products

In [420]:
### Ex-10-Task-3
df[df['rating_five_count'].isna()][['rating_four_count', 'rating_three_count',
       'rating_two_count', 'rating_one_count']].isna().sum()
df[df['rating_five_count'].isna()].head()
# They seem to be having a rating of 5 even with no ratings: we are going to change the rating and all the rating counts to 0
### BEGIN SOLUTION 
# YOUR CODE HERE
df.loc[df['rating_five_count'].isna(), ['rating', 'rating_count',
                                        'rating_five_count', 'rating_four_count', 
                                        'rating_three_count', 'rating_two_count', 
                                        'rating_one_count']] = 0
### END SOLUTION

## Data Exploration

```df['units_sold'].unique()```

It seems like they are all numbers approximated to their lower bound. So let's pretend they are divided in ranges like this:

- 10-100
- 100-1000
- 1000-5000
- 5000-10000
- 10000-20000
- 20000-50000
- 50000-100000
- 100000+

Let's define 3 performance characteristics:

- Average : 0-1000
- Successful: 1000-20000
- Very Successful 20000+

Find the percentage of product belongs to each category.
Steps:
1. First find the performance category and store in performance columns
2. Then, Calculate the percentage of product in each performance category

In [421]:
### Ex-10-Task-4
percentage_of_product_in_each_performance_category = None
### BEGIN SOLUTION 
# YOUR CODE HERE
# Define performance category based on units_sold
def categorize_performance(units):
    if units <= 1000:
        return 'Average'
    elif 1000 < units <= 20000:
        return 'Successful'
    else:
        return 'Very Successful'

df['performance'] = df['units_sold'].apply(categorize_performance)

# Calculate percentage of products in each performance category
percentage_of_product_in_each_performance_category = df['performance'].value_counts(normalize=True) * 100
percentage_of_product_in_each_performance_category
### END SOLUTION

performance
Average            66.942149
Successful         31.595677
Very Successful     1.462174
Name: proportion, dtype: float64

## Product Rating and Performance Comparision

Looking at the rating columns I notice two things:

- Some products have a rating count that's too low to be considered, let's only look at products with more than 150 ratings to try to have a fair result
- The rating of the products is a decimal number: let's create another column that categorizes each product into it's rating range.
    - columns are 
        1. < 1 if rating < 1
        2. 1-2 if rating >= 1 and rating < 2
        3. 2-3 if rating >= 2 and rating < 3
        4. 3-4 if rating >= 3 and rating < 4
        5. 4-5 if rating >= 4 and rating < 5
- Create pivot table with performance in index, raiting_range in column and no. of product as values

In [422]:
### Ex-10-Task-5
df_ratings = pd.DataFrame()  ## get records with rating_count > 100
df_ratings['rating_range'] = None
pivot_table = None
### BEGIN SOLUTION 
# YOUR CODE HERE
df_ratings = df[df['rating_count'] > 150].copy()
def rating_to_range(r):
    if r < 1:
        return '< 1'
    elif 1 <= r < 2:
        return '1-2'
    elif 2 <= r < 3:
        return '2-3'
    elif 3 <= r < 4:
        return '3-4'
    else:
        return '4-5'

df_ratings['rating_range'] = df_ratings['rating'].apply(rating_to_range)
pivot_table = pd.pivot_table(df_ratings, 
                             index='performance', 
                             columns='rating_range', 
                             values='title',  # or any column, to count
                             aggfunc='count',
                             fill_value=0)

### END SOLUTION

This table shows that if the product have average rating of 3-4. THen, it is most likely to be successful product.